<!--User Request-->
<div class="container mx-auto h-auto pt-56 py-24 text-center">
  <h1 class="montserrat-bolder font-bold light-gray-1 text-2xl capitalize px-2">Подача заявки на военную службу по контракту</h1>
  <hr class="w-2/3 h-0.5 mx-auto">
  <h2 class="montserrat-bolder light-gray-1 my-4 text-xl px-2">Заявка №0011</h2>

  <div class="grid grid-cols-12 gap-3 mt-14 px-4 bg-gray-4 py-12">
    <!--Анкета-->
    <div class="col-span-12 md:col-span-6 px-4">
      <p class="comforta font-normal text-black my-4 text-xl px-2">Анкета кандидата</p>
      <div class="text-left">
        <!--ФИО-->
        <div class="form-group my-4 text-md md:text-lg">
          <label for="name" class="comforta cursor-pointer">Ф.И.О.</label>
          <input id="name" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="name">
        </div>
        <!--ФИО-->
        <!--Место жительства-->
        <div class="form-group my-4 text-md md:text-lg">
          <label for="address" class="comforta cursor-pointer">Место жительства</label>
          <select id="address"  class="my-1 block px-4 py-1.5 bg-white w-full rounded border-black border-solid border" name="address">
            <option></option>
          </select>
        </div>
        <!--Место жительства-->
        <!--ФИО-->
        <div class="form-group my-4 text-md md:text-lg">
          <label for="iin" class="comforta cursor-pointer">ИИН</label>
          <input id="iin" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="iin">
        </div>
        <!--ФИО-->

        <!--Образование-->
        <div class="form-group my-4 text-md md:text-lg">
          <label for="education" class="comforta cursor-pointer">Образование</label>
          <select id="education"  class="my-1 block px-4 py-1.5 bg-white w-full rounded border-black border-solid border" name="education">
            <option></option>
          </select>
        </div>
        <!--Образование-->

        <!--Наличие водительского удостоверения-->
        <div class="form-group my-4 text-md md:text-lg">
          <label for="driver_license" class="comforta cursor-pointer">Наличие водительского удостоверения</label>
          <select id="driver_license"  class="my-1 block px-4 py-1.5 bg-white w-full rounded border-black border-solid border" name="driver_license">
            <option></option>
          </select>
        </div>
        <!--Наличие водительского удостоверения-->

        <!--Опыт работы	-->
        <div class="form-group my-4 text-md md:text-lg">
          <label for="experience" class="comforta cursor-pointer">Опыт работы</label>
          <input id="experience" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="experience">
        </div>
        <!--Опыт работы	-->

        <p class="comforta text-md md:text-lg">Отношение к воинской службе:</p>
        <!--1)	Прохождение воинской службы	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="service_year" class="comforta cursor-pointer">1)	Прохождение воинской службы</label>
          <input id="service_year" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="service_year">
        </div>
        <!--1)	Прохождение воинской службы-->

        <!--Номер воинской части 	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="army_number" class="comforta cursor-pointer">Номер воинской части </label>
          <input id="army_number" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="army_number">
        </div>
        <!--Номер воинской части -->

        <!--Должность  	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="position" class="comforta cursor-pointer">Должность</label>
          <input id="position" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="position">
        </div>
        <!--Должность  -->

        <!--Воинское звание  	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="army_position" class="comforta cursor-pointer">Воинское звание</label>
          <input id="army_position" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="army_position">
        </div>
        <!--Воинское звание  -->

        <!--2)	Прошедшие подготовку в филиалах ВТШ МО РК по программе военнообученного резерва: 	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="vtsh" class="comforta cursor-pointer">
            2)	Прошедшие подготовку в филиалах ВТШ МО
            РК по программе военнообученного резерва:
          </label>
          <input id="vtsh" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="vtsh">
        </div>
        <!--2)	Прошедшие подготовку в филиалах ВТШ МО РК по программе военнообученного резерва: 	-->

        <!--Наименование филиала 	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="vtsh_name" class="comforta cursor-pointer">Наименование филиала</label>
          <input id="vtsh_name" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="vtsh_name">
        </div>
        <!--Наименование филиала 	-->

        <!--Год обучения 	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="education_year" class="comforta cursor-pointer">Год обучения</label>
          <input id="education_year" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="education_year">
        </div>
        <!--Год обучения 	-->

        <p class="comforta text-md md:text-lg">
          Указать должность, на какую планирует поступить:
        </p>
        <!--Наименование должности/вакансия  	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="vacancy" class="comforta cursor-pointer">Наименование должности/вакансия </label>
          <input id="vacancy" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="vacancy">
        </div>
        <!--Наименование должности/вакансия  	-->

        <!--Срок заключения контракта-->
        <div class="form-group my-4 text-md md:text-lg">
          <label for="contract_date" class="comforta cursor-pointer">Срок заключения контракта</label>
          <select id="contract_date"  class="my-1 block px-4 py-1.5 bg-white w-full rounded border-black border-solid border" name="contract_date">
            <option></option>
          </select>
        </div>
        <!--Срок заключения контракта-->

        <!--Регион  	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="region" class="comforta cursor-pointer">Регион</label>
          <input id="region" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="region">
        </div>
        <!--Регион  	-->

        <!--Телефон  	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="phone" class="comforta cursor-pointer">Телефон</label>
          <input id="phone" type="text" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="phone">
        </div>
        <!--Телефон  	-->

        <!--Электронная почта  	-->
        <div class="form-group mt-2 mb-4 text-md md:text-lg">
          <label for="email" class="comforta cursor-pointer">Электронная почта</label>
          <input id="email" type="email" class=" my-1 block px-4 py-1 w-full rounded border-black border-solid border" name="email">
        </div>
        <!--Электронная почта  	-->


      </div>

    </div>
    <!--Анкета-->
    <!--Дополнительные документы-->
    <div class="col-span-12 md:col-span-6 px-4">
      <p class="comforta font-normal text-black my-4 text-xl px-2">Дополнительные документы</p>
      <div class="text-left">

        <!--Фото-->
        <div class="form-group text-md md:text-lg">
          <p class="comforta cursor-pointer">Фото</p>
          <div class="my-2">
            <span class="block my-2" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
                <a href=""><fa-icon class="light-blue" [icon]="faFileImage"></fa-icon></a>
                <button class="h-4 w-4 bg-transparent red-color mx-2">
                  <fa-icon [icon]="faWindowClose"></fa-icon>
                </button>
            </span>
          </div>
          <div class="md:flex">
            <div class="md:w-1/2">
              <label for="photo" class="comforta self-center cursor-pointer text-sm light-blue">Прикрепить</label>
              <input id="photo" type="file" class="invisible" accept="image/png, image/jpeg image/bmp application/pdf,image/x-eps">
            </div>
            <div class="md:w-1/2">
              <label for="take_photo" class="comforta cursor-pointer text-sm light-blue">Сфотографироваться</label>
              <input id="take_photo" type="file" class="invisible" accept="image/png, image/jpeg image/bmp application/pdf,image/x-eps">
            </div>
          </div>

        </div>
        <!--Фото-->

        <!--Автобиография-->
        <div class="form-group text-md md:text-lg py-4">
          <p class="comforta cursor-pointer">Автобиография</p>
          <div class="my-2">
            <span class="block my-2" *ngFor="let i of [1]">
                <a href=""><fa-icon class="light-blue" [icon]="faFileWord"></fa-icon></a>
                <button class="h-4 w-4 bg-transparent red-color mx-2">
                  <fa-icon [icon]="faWindowClose"></fa-icon>
                </button>
            </span>
          </div>
          <div class="md:flex">
            <div class="md:w-1/2 flex">
              <label for="autobiography" class="comforta cursor-pointer text-sm light-blue self-center">Прикрепить</label>
              <input id="autobiography" type="file" class="invisible">
            </div>
            <div class="md:w-1/2 flex">
              <a download="" target="_blank" href="" class="comforta cursor-pointer text-sm light-blue self-center">Скачать пример</a>
            </div>
          </div>

        </div>
        <!--Автобиография-->

        <!--Документ об образовании с приложением-->
        <div class="form-group text-md md:text-lg py-4">
          <p class="comforta cursor-pointer">Документ об образовании с приложением</p>
          <div class="my-2">
            <span class="block my-2" *ngFor="let i of [1]">
                <a href=""><fa-icon class="light-blue" [icon]="faFilePdf"></fa-icon></a>
                <button class="h-4 w-4 bg-transparent red-color mx-2">
                  <fa-icon [icon]="faWindowClose"></fa-icon>
                </button>
            </span>
          </div>
          <div class="md:flex">
            <div class="md:w-1/2 flex">
              <label for="diploma" class="comforta cursor-pointer text-sm light-blue self-center">Прикрепить</label>
              <input id="diploma" type="file" class="invisible">
            </div>
          </div>

        </div>
        <!--Документ об образовании с приложением-->

        <!--Сведения о доходах и имуществе-->
        <div class="form-group text-md md:text-lg py-4">
          <p class="comforta cursor-pointer">Сведения о доходах и имуществе</p>
          <div class="my-2">
            <span class="block my-2" *ngFor="let i of [1]">
                <a href=""><fa-icon class="light-blue" [icon]="faFilePdf"></fa-icon></a>
                <button class="h-4 w-4 bg-transparent red-color mx-2">
                  <fa-icon [icon]="faWindowClose"></fa-icon>
                </button>
            </span>
          </div>
          <div class="md:flex">
            <div class="md:w-full flex">
              <label for="profit" class="comforta cursor-pointer text-sm light-blue self-center">Сдать декларацию</label>
              <input id="profit" type="file" class="invisible">
            </div>
          </div>

        </div>
        <!--Сведения о доходах и имуществе-->

        <!--Сведения о трудовой дейтельности-->
        <div class="form-group text-md md:text-lg py-4">
          <p class="comforta cursor-pointer">Сведения о доходах и имуществе</p>
          <div class="my-2">
            <span class="block my-2" *ngFor="let i of [1]">
                <a href=""><fa-icon class="light-blue" [icon]="faFilePdf"></fa-icon></a>
                <button class="h-4 w-4 bg-transparent red-color mx-2">
                  <fa-icon [icon]="faWindowClose"></fa-icon>
                </button>
            </span>
          </div>
          <div class="md:flex">
            <div class="md:w-full flex">
              <label for="labor" class="comforta cursor-pointer text-sm light-blue self-center">Прикрепить</label>
              <input id="labor" type="file" class="invisible">
            </div>
          </div>

        </div>
        <!--Сведения о трудовой дейтельности-->

        <!--Сведения о прохождении военной службы-->
        <div class="form-group text-md md:text-lg py-4">
          <p class="comforta cursor-pointer">Сведения о прохождении военной службы</p>
          <div class="my-2">
            <span class="block my-2" *ngFor="let i of [1]">
                <a href=""><fa-icon class="light-blue" [icon]="faFilePdf"></fa-icon></a>
                <button class="h-4 w-4 bg-transparent red-color mx-2">
                  <fa-icon [icon]="faWindowClose"></fa-icon>
                </button>
            </span>
          </div>
          <div class="md:flex">
            <div class="md:w-full flex">
              <label for="service" class="comforta cursor-pointer text-sm light-blue self-center">Прикрепить</label>
              <input id="service" type="file" class="invisible">
            </div>
          </div>
        </div>
        <!--Сведения о прохождении военной службы-->

        <!--Анкета для проведения спецпроверки-->
        <div class="form-group text-md md:text-lg py-4">
          <p class="comforta cursor-pointer">Анкета для проведения спецпроверки</p>
          <div class="my-2">
            <span class="block my-2" *ngFor="let i of [1]">
                <a href=""><fa-icon class="light-blue" [icon]="faFilePdf"></fa-icon></a>
                <button class="h-4 w-4 bg-transparent red-color mx-2">
                  <fa-icon [icon]="faWindowClose"></fa-icon>
                </button>
            </span>
          </div>
          <div class="md:flex">
            <div class="md:w-1/2 flex">
              <label for="anketa" class="comforta cursor-pointer text-sm light-blue self-center">Прикрепить</label>
              <input id="anketa" type="file" class="invisible">
            </div>
            <div class="md:w-1/2 flex">
              <a download="" target="_blank" href="" class="comforta cursor-pointer text-sm light-blue self-center">Скачать пример</a>
            </div>
          </div>
        </div>
        <!--Анкета для проведения спецпроверки-->

        <div class="flex items-center my-2">
          <input type="checkbox" class="w-5 h-5 focus:accent-pink-500"  id="confirmation" name="confirmation">
          <label class="ml-2 montserrat light-gray-1 cursor-pointer" for="confirmation">Я, даю согласие на сбор и обработку своих
            <br>
            Персональных данных
          </label>
        </div>


      </div>
    </div>
    <!--Дополнительные документы-->

    <!--Анкета на близких родственников-->
    <div class="col-span-12 px-4 my-5 comfortaa">
      <p class="font-normal text-black my-4 text-xl px-2">Анкета на близких родственников</p>
      <div class="comforta overflow-x-auto">
        <table class="min-w-full">
          <thead class="bg-gray-4 border-solid border-0 border-b border-black">
          <tr>
            <th scope="col" class="text-md md:text-lg font-medium text-black px-6 py-4 text-left">
              ФИО
            </th>
            <th scope="col" class="text-md md:text-lg font-medium text-black px-6 py-4 text-left">
              Статус
            </th>
            <th scope="col" class="text-md md:text-lg  font-medium text-black px-6 py-4 text-left">
              Год рождения
            </th>
            <th scope="col" class="text-md md:text-lg font-medium text-black px-6 py-4 text-left">
              ИИН
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="comforta bg-gray-5 border-b transition duration-300 ease-in-out hover:bg-gray-2">
            <td class="text-md md:text-lg text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Абаева Гуля Ренатовна
            </td>
            <td class="text-md md:text-lg text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Жена
            </td>
            <td class="text-md md:text-lg text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              15/06/1990
            </td>
            <td class="text-md md:text-lg text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              901506650987
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="text-left my-4">
        <button class="rounded-full w-8 h-8 bg-transparent border-2 border-black">
          <fa-icon class="text-black" [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
    <!--Анкета на близких родственников-->
  </div>
  <!--Форма-->

  <div class="grid grid-cols-12 gap-3 px-4 py-12">
    <div class="col-span-12 sm:col-span-6 md:col-span-3">
      <button class="min-w-full text-white main-blue-bg mt-5 text-sm px-8 py-3 rounded hover:bg-blue-700 shadow-md" >Сохранить</button>
    </div>
    <div class="col-span-12 sm:col-span-6 md:col-span-3">
      <button class="min-w-full text-white bg-red-color mt-5 text-sm px-8 py-3 rounded hover:bg-red-900 shadow-md" >Отменить</button>
    </div>
    <div class="col-span-12 md:col-span-3 none md:block ">
    </div>
    <div class="col-span-12 sm:col-span-6 md:col-span-3">
      <button class="min-w-full text-white main-blue-bg mt-5 text-sm px-8 py-3 rounded hover:bg-blue-700 shadow-md" >Отправить</button>

    </div>

  </div>
  <!--Форма-->


</div>
<!--End User Request-->
