<!--Register Start-->
<div class="container mx-auto h-auto py-24 py-4 text-center min-h-screen">
  <h1 class="montserrat font-bold light-gray-1 text-2xl font-bold px-2">Регистрация</h1>
  <!--Форма-->
  <div class="text-red-500" *ngIf="errors.status">
    <ul>
      <li *ngFor="let error of (errors.messages | valueArray)">{{error}}</li>
    </ul>
  </div>

  <form [formGroup]="confirmForm" (ngSubmit)="confirmForm.valid && onSubmit()">
    <div class="mx-auto mt-8 sm:w-full md:w-1/2 text-center px-4">
      <p>На указанный вами номер телефона +7 ****000 было отправлено смс с кодом подтверждения. Введите полученный код, чтобы продолжить регистрацию.</p>
      <!--ИИН-->
      <div class="form-group my-8">
        <input formControlName="code" class="montserrat text-center w-full py-2 px-4 bg-gray-1 border-solid border-0 border-b border-black" type="text" name="iin" placeholder="Код из смс">
        <div class="text-red-500" *ngIf="confirmForm.controls['code'].invalid && (confirmForm.controls['code'].dirty || confirmForm.controls['code'].touched)">
          <div *ngIf="confirmForm.controls['code'].errors">
            <div *ngIf="confirmForm.controls['code'].errors.required">
              Поле код обязательно для заполнения
            </div>
            <div *ngIf="confirmForm.controls['code'].errors.pattern">
              Разрешены только цифры
            </div>
          </div>
        </div>
      </div>
      <!--ИИН-->

      <button [disabled]="confirmForm.invalid" class="{{confirmForm.invalid ? 'bg-gray-500' : 'bg-red-color'}} montserrat inline-block text-white mt-5 text-sm px-8 py-3 rounded">Регистрация</button>

    </div>
  </form>
  <!--  Конец формы-->

</div>
<!--End Register Start-->
