<div class="container mx-auto py-14 bg-white px-4">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faMapMarkerAlt" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/area-management'" class="block text-white sm:text-xl md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Регионами
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faBuilding" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/army-department-list'" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Ведомствами
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faStar" class="text-white text-56"></fa-icon><br>
      <a  [routerLink]="'/admin/army-rank-list'" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Званиями
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faMap" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/army-region-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Региональным<br>
        Командованием
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faPlane" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/army-type-list'" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        ВС
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faAddressCard" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/driver-license-list'" class="text-white  sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Водительскими <br>
        Правами
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faUniversity" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/education-list'" class="text-white  sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Образованием
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faBookMedical" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/medical-status-list'" class="text-white  sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Медицинскими<br>
        записями
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faUsers" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/relative-list'" class="text-white  sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Семейным<br>
        статусом
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faStreetView" class="text-white text-56"></fa-icon><br>
      <a [routerLink]="'/admin/vtsh-list'" class="text-white  sm:text-lg md:text-xl  lg:text-2xl break-words break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        ВТШ
      </a>
    </div>

  </div>



</div>
