<section class="w-full z-50">
  <section class="main-blue-bg">
    <nav class="main-blue-bg container mx-auto relative py-4 navbar navbar-expand-lg navbar-light border-b border-white">
      <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <a class="tourney-thin text-2xl sm:text-2xl md:text-4xl text-black text-xl2 text-white" routerLink="/">jauynger.gov.kz</a>
        <div [ngClass]="'navbar-collapse flex-grow items-center contents'">
          <!-- Left links -->
          <ul class="navbar-nav hidden lg:block flex flex-col pl-0 list-style-none mr-auto">
            <li class="  nav-item px-2">
              <a class="nav-link text-sm text-white" aria-current="page">
                {{'SYSTEM.navTitle' | translate}}
              </a>
            </li>
          </ul>
          <!-- Left links -->
          <ul class="navbar-nav flex flex-col pr-0 list-style-none">
            <li class="nav-item px-2">
              <div class="relative" data-te-dropdown-position="dropup">
                <button
                  class=" dropdown-toggle transition duration-150 ease-in-out flex items-center whitespace-nowrap text-white"
                  type="button"
                  id="dropdownMenuButton1u"
                  data-te-dropdown-toggle-ref
                  aria-expanded="false"
                  data-te-ripple-init
                  data-te-ripple-color="light">
                  {{translate.currentLang}}
                  <span class="ml-2 w-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="h-5 w-5">
        <path
          fill-rule="evenodd"
          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
          clip-rule="evenodd" />
      </svg>
    </span>
                </button>
                <ul
                  class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                  aria-labelledby="dropdownMenuButton1u"
                  data-te-dropdown-menu-ref>
                  <li>
                    <a class="cursor-pointer dropdown-item text-sm py-2 px-4 font-normal block w-full  whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100" (click)="translate.onLangChange('kz')">kz</a>
                  </li>
                  <li>
                    <a class="cursor-pointer dropdown-item text-sm py-2 px-4 font-normal block w-full  whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100" (click)="translate.onLangChange('ru')">ru</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- Collapsible wrapper -->
      </div>
    </nav>
  </section>
  <section class="main-blue-bg-opacity">
    <nav class="container mx-auto  bg-transparent relative flex flex-wrap items-center justify-between py-4  text-gray-500 hover:text-gray-700 focus:text-gray-700 navbar navbar-expand-lg navbar-light
  ">
      <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <!-- Hamburger button for mobile view -->
        <button
          class="block border-0 bg-transparent px-2 text-white hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
          type="button"
          data-te-collapse-init
          data-te-target="#navbarSupportedContent2"
          aria-controls="navbarSupportedContent2"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <!-- Hamburger icon -->
          <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
        </button>

        <!-- Collapsible navbar container -->
        <div
          class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
          id="navbarSupportedContent2"
          data-te-collapse-item>
          <!-- Left links -->
          <ul class="navbar-nav md:flex pl-0 list-style-none mr-auto" *ngIf="isUser">
            <li class="nav-item p-2">
              <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" routerLink="/vacancy">{{'navbar.vacancies'|translate}}</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" routerLink="/user/apply-request">
                {{'navbar.applyRequest'|translate}}</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" routerLink="/user/all-request">
                {{'navbar.myRequests'|translate}}
              </a>
            </li>

          </ul>
          <!-- Right elements -->
          <div class="flex items-center relative">
            <!-- Icon -->
            <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
              <li class="nav-item p-2">
                <ng-container *ngIf="!isLoggedIn">
                  <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" routerLink="/auth/login">{{'SYSTEM.login'|translate}}</a>
                </ng-container>
                <div *ngIf="isLoggedIn">
                  <ng-container *ngIf="(currentUser$ | async) as user">
                    <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" *ngIf="user.data.roleId==1" routerLink="admin">{{user.data.fullName}} </a>
                    <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" *ngIf="user.data.roleId==2" routerLink="director">{{user.data.fullName}} </a>
                    <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" *ngIf="user.data.roleId==3" routerLink="executor">{{user.data.fullName}} </a>
                    <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" *ngIf="user.data.roleId==4" routerLink="knb">{{user.data.fullName}} </a>
                    <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" *ngIf="user.data.roleId==5" routerLink="med">{{user.data.fullName}} </a>
                    <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0" *ngIf="user.data.roleId==6" routerLink="user">{{user.data.fullName}} </a>
                    <a class="nav-link text-white hover:main-color focus:text-blue-400 p-0 cursor-pointer" (click)="logout()"> {{'SYSTEM.logout'|translate}}</a>
                  </ng-container>
                </div>
              </li>
            </ul>
          </div>
          <!-- Right elements -->
        </div>
        <!-- Collapsible wrapper -->


      </div>
    </nav>
  </section>

</section>
