<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Панель управления исполнителя</title>
</head>
<body class="admin-body relative">
<app-executor-header (toggleNav)="toggleSidebar()" [sidebarState]="sidebarState"></app-executor-header>
<section class="lg:flex">
  <app-executor-sidebar [sideBarOpen]="sidebarState"></app-executor-sidebar>
  <div class="flex-1 md:px-8 overflow-x-scroll">
    <router-outlet></router-outlet>
  </div>
</section>

</body>
</html>

