<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="browseFileModal" tabindex="-1" aria-labelledby="browseFileModalLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg relative w-auto pointer-events-none">
    <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
      <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h4>
          Просмотр файла
        </h4>
        <button type="button"
                class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body relative p-4" *ngIf="fileUrl">
        <section *ngIf="!loading">
          <section *ngIf="fileUrl.startsWith('https://jauynger.gov.kz');else serverFile">
            <ngx-doc-viewer
              class="w-full"
              url="{{fileUrl}}"
              [viewer]="'google'"
              style="width:100%;height:50vh;">
            </ngx-doc-viewer>
          </section>
          <ng-template #serverFile>
            <section>
              <div class="w-full" *ngIf="imageExtension.includes(get_url_extension(fileUrl??''));else fileBrowser">
                <img class="max-w-full" src="{{fileUrl | authFile:true}}">
              </div>
              <div class="bg-success-color">
                <ng-template #fileBrowser>
                  <ngx-doc-viewer
                    class="w-full"
                    url="{{fileUrl | authFile:true}}"
                    [viewer]="wordExtension.includes(get_url_extension(fileUrl??'')) ? 'office' : 'google'"
                    style="width:100%;height:50vh;">
                  </ngx-doc-viewer>
                </ng-template>
              </div>
            </section>
          </ng-template>

        </section>
        <section *ngIf="loading">
          ...loading
        </section>
      </div>

      <div class="modal-footer">
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button type="button"
                  class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
                  data-bs-dismiss="modal">Закрыть</button>
          <a href="{{fileUrl | authFile}}" download="" target="_blank"
                  class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">Скачать</a>
        </div>
      </div>
    </div>
  </div>
</div>
