<div class="container mx-auto py-14 bg-white px-4">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faBriefcase" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/category-position-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Категориями <br>
        Позиций
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faPeopleArrows" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/position-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Позициями
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faTags" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/job-category-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Категориями <br>
        Тарифов
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faBriefcase" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/qualification-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Квалификацией
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faKey" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/secret-level-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Доступа <br>
        Секрета
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faCalendar" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/service-year-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Сроков <br>
        Службы
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faCalendar" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/job-year-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Времени и Позиции
      </a>
    </div>
    <div class="col-span-12 md:col-span-4 sm:col-span-6 w-full h-56 rounded-xl main-blue-bg p-5">
      <fa-icon [icon]="faMoneyCheck" class="text-white text-56"></fa-icon><br>
      <a routerLink="/admin/rank-salary-list" class="text-white sm:text-lg md:text-xl  lg:text-2xl break-words underline font-extrabold cursor-pointer">
        Администрирование <br>
        Зарплата званий
      </a>
    </div>
  </div>





</div>
