<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Управлене админстрированием</title>
</head>
<body class="admin-body relative">
<app-admin-header (toggleNav)="toggleSidebar()" [sidebarState]="sidebarState"></app-admin-header>
<section class="lg:flex">
  <app-admin-sidebar [sideBarOpen]="sidebarState"></app-admin-sidebar>
  <div class="flex-1 md:px-8 overflow-x-scroll">
    <router-outlet></router-outlet>
  </div>
</section>

</body>
</html>

