<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Спецпроверка</title>
</head>
<body class="knb-body">
<app-knb-header (toggleNav)="toggleSidebar()" [sidebarState]="sidebarState"></app-knb-header>
<section class="lg:flex">
  <app-knb-sidebar [sideBarOpen]="sidebarState"></app-knb-sidebar>
  <div class="flex-1 md:px-8 overflow-x-scroll">
    <router-outlet></router-outlet>
  </div>
</section>

</body>
</html>


