<!--Banner-->
<div class="w-screen pt-56 pb-20 flex items-center h-full md:min-h-5/6  md:h-5/6 w-screen bg-poster" >
  <div class="container mx-auto h-full">
      <div class="grid grid-cols-3 items-center h-full px-2">
          <div class="col-span-3 md:col-span-1 text-center md:text-left">
            <h1 class="text-white montserrat-bold text-2xl">Военная служба по контракту - профессиональная защита <br> Отечества!</h1>
            <p class="inline-block text-white montserrat my-5">Подайте заявку на контрактную службу не выходя из дома  через онлайн сервис.</p>
            <a class="inline-block text-white bg-red-color mt-5 text-sm px-8 py-3 rounded hover:bg-red-900" routerLink="/user/apply-request">Подать заявку</a>
          </div>
      </div>
  </div>
</div>
<!--Banner End -->

<!--Step-->
  <div class="container mx-auto h-auto my-24 text-center">
      <h1 class="comforta-light light-gray-1 text-2xl uppercase px-2">Подать заявку онлайн легко</h1>
      <hr class="w-1/3 h-0.5 ml-auto">

      <div class="grid grid-cols-12 gap-5 mt-14 px-2">
        <div class="flex items-center col-span-12 sm:col-span-6 md:col-span-4 shadow-lg bg-white h-56 w-full px-6 py-4">
          <div>
            <span class="block bebas-neue text-2xl text-left light-blue">
            01
            </span>
            <span class="block text-lg text-left mt-2">
              <p>Выберите подходящую</p>
              <a class="red-color underline cursor-pointer">Вакансию</a>
            </span>
          </div>
        </div>
        <div class="flex items-center col-span-12 sm:col-span-6 md:col-span-4 shadow-lg bg-white h-56 w-full px-6 py-4">
          <div>
            <span class="block bebas-neue text-2xl text-left light-blue">
            02
            </span>
            <span class="block text-lg text-left mt-2">
              <p>Зарегистрируйтесь и</p>
              <a class="red-color underline cursor-pointer">Подайте заявку</a>
            </span>
          </div>
        </div>
        <div class="flex items-center col-span-12 sm:col-span-6 md:col-span-4 shadow-lg bg-white h-56 w-full px-6 py-4">
          <div>
            <span class="block bebas-neue text-2xl text-left light-blue">
            03
            </span>
            <span class="block text-lg text-left mt-2">
              <p>
                Заполните <a class="red-color underline cursor-pointer">Анкету</a> на себя и родственников
              </p>
            </span>
          </div>
        </div>
        <div class="flex items-center col-span-12 sm:col-span-6 md:col-span-4 shadow-lg bg-white h-56 w-full px-6 py-4">
          <div>
            <span class="block bebas-neue text-2xl text-left light-blue">
            04
            </span>
            <span class="block text-lg text-left mt-2">
              <p>
                Прикрепите необходимые документы
              </p>
            </span>
          </div>
        </div>
        <div class="flex items-center col-span-12 sm:col-span-6 md:col-span-4 shadow-lg bg-white h-56 w-full px-6 py-4">
          <div>
            <span class="block bebas-neue text-2xl text-left light-blue">
            05
            </span>
            <span class="block text-lg text-left mt-2">
              <p>
                Отправьте заявку и отслеживайте статус
              </p>
            </span>
          </div>
        </div>
        <div class="flex items-center col-span-12 sm:col-span-6 md:col-span-4 shadow-lg main-blue-bg h-56 w-full px-6 py-4 ">
          <div class="block w-full text-3xl text-center text-white uppercase">
            <a href="#">Скачать инструкцию</a>
          </div>
        </div>
      </div>
  </div>
<!--Step End -->

<!--Career-->
<div class="container mx-auto h-auto mt-24 py-4 text-center">
  <h1 class="comforta-light light-gray-1 text-2xl uppercase px-2">Постройте свою карьеру</h1>
  <hr class="w-1/3 h-0.5 mr-auto">

  <div class="grid grid-cols-12 grid-rows-4 gap-5 mt-14 px-2">

      <div class="col-span-12 row-span-6 md:row-span-4 shadow-md sm:col-span-6 md:col-span-6 py-5 px-4 bg-white">
            <p class="text-xl">Вооруженные силы РК</p>
        <img class="my-4" src="/assets/images/МО.png">
        <p class="text-justify">
          Вооруженные силы - военная организация Республики Казахстан для защиты независимости государства от возможных внешних оппонентов.
          Казахстан - член Организации Договора о коллективной безопасности.
        </p>
      </div>

      <div class="col-span-12 row-span-6 md:row-span-3 sm:col-span-6 shadow-md md:col-span-3 py-5 px-8 bg-white">
        <p class="text-md">Национальная гвардия РК</p>
        <img class="my-4" src="/assets/images/НГ.png">
        <p class="text-justify text-sm">
          Национальная гвардия - воинское формирование с правоохранительными функциями, входящее в единую систему органов внутренних дел Казахстана.
          <br>
          Национальная гвардия (НГ РК) предназначена для обеспечения безопасности личности, общества...
        </p>
      </div>

      <div class="col-span-12 row-span-6 md:row-span-3 sm:col-span-6 shadow-md md:col-span-3 py-5 px-8 bg-white">
        <p class="text-md">Пограничная служба РК</p>
        <img class="my-4" src="/assets/images/ПС.png">
        <p class="text-justify text-sm">
          Пограничная служба - специальная служба, предназначенная для охраны и защиты Государственной границы Республики Казахстан, предупреждения и пресечения посягательств на суверенитет и территориальную целостность Республики Казах...
        </p>
      </div>
      <div class="flex items-end col-span-12 row-span-6 md:row-span-1 sm:col-span-6 text-left md:col-span-3 ">
        <div class="w-full">
          <p class="text-md text-center">Служба в Вооруженных силах РК</p>
          <a class="inline-block w-full text-center text-white bg-red-color mt-5 text-sm px-8 py-3 rounded hover:bg-red-900" routerLink="/user/apply-request">Подать заявку</a>
        </div>
      </div>
      <div class="flex items-end col-span-12 row-span-6 md:row-span-1 sm:col-span-6 text-left md:col-span-3 ">
      <div>
      </div>
    </div>

  </div>
</div>
<!--End Career-->

<!--Advantage-->
<!--<div class="container mx-auto h-auto mt-24 py-4 text-center">-->
<!--  <h1 class="comforta-light light-gray-1 text-2xl uppercase px-2">Преимущества контрактной службы</h1>-->
<!--  <hr class="w-1/3 h-0.5 ml-auto">-->

<!--  <div class="grid grid-cols-12 gap-5 mt-14 px-5">-->
<!--      <div class="col-span-12 order-1 md:order-1 md:col-span-6 flex justify-center">-->
<!--        <img src="assets/images/advantage1.png">-->
<!--      </div>-->
<!--      <div class="col-span-12 order-2 md:order-2 md:col-span-6 text-left text-justify">-->
<!--        <p  class="text-2xl relative left-before">-->
<!--          Lorem Ipsum is simply-->
<!--        </p>-->
<!--        <span class="block mt-5">-->
<!--          <p class="text-md">-->
<!--          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting i.-->
<!--        </p>-->
<!--        </span>-->

<!--      </div>-->

<!--      <div class="col-span-12 order-4 md:order-3 md:col-span-6 text-left md:text-right text-justify">-->
<!--      <p  class="text-2xl relative right-before">-->
<!--        Lorem Ipsum is simply-->
<!--      </p>-->
<!--      <span class="block mt-5">-->
<!--          <p class="text-md">-->
<!--          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting i.-->
<!--        </p>-->
<!--        </span>-->
<!--    </div>-->
<!--      <div class="col-span-12 order-3 md:order-4 md:col-span-6 flex justify-center">-->
<!--      <img src="assets/images/advantage2.png">-->
<!--    </div>-->

<!--      <div class="col-span-12 order-5 md:col-span-6 flex justify-center">-->
<!--      <img src="assets/images/advantage3.png">-->
<!--    </div>-->
<!--      <div class="col-span-12 order-6 md:col-span-6 text-left">-->
<!--      <p  class="text-2xl relative left-before">-->
<!--        Lorem Ipsum is simply-->
<!--      </p>-->
<!--      <span class="block mt-5">-->
<!--          <p class="text-md">-->
<!--          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting i.-->
<!--        </p>-->
<!--        </span>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--Advantage End-->

<!--Calculator-->
<div class="container mx-auto h-auto py-4 text-center">
  <h1 class="comforta-light light-gray-1 text-2xl uppercase px-2">Рассчитайте свой должностной оклад</h1>
  <hr class="w-1/3 h-0.5 mx-auto">
  <div class="grid grid-cols-12 mt-14 bg-white shadow-lg">
    <div class="comforta-bold col-span-12 px-5 text-center  md:col-span-8 py-4 px-4">
        <p class="text-xl">
          Зарплатный калькулятор
        </p>
      <div class="mt-14">

        <form [formGroup]="calculationForm" (ngSubmit)="calculate()">
          <select [className]="'comforta my-2  text-gray-400 px-4 py-3 bg-transparent rounded-none border-b-2 w-full '
                + (calculationForm.controls['positionId'].invalid && (calculationForm.controls['positionId'].dirty || calculationForm.controls['positionId'].touched) ? 'border-red-500' : 'border-black')
            "
            formControlName="positionId"
            *ngIf="(positions$|async)?.data != null">
            <option value="">Должность</option>
            <option *ngFor="let position of (positions$|async)?.data" [value]="position.id">
              {{position.titleRu}}
            </option>
          </select>
          <div class="text-red-500" *ngIf="calculationForm.controls['positionId'].invalid && (calculationForm.controls['positionId'].dirty || calculationForm.controls['positionId'].touched)">
            <div *ngIf="calculationForm.controls['positionId'].errors">
              <div *ngIf="calculationForm.controls['positionId'].errors.required">
                Выберите Должность
              </div>
            </div>
          </div>
          <select [className]="'comforta my-2 text-gray-400 px-4 py-3 bg-transparent rounded-none border-b-2 w-full '
                + (calculationForm.controls['armyRankId'].invalid && (calculationForm.controls['armyRankId'].dirty || calculationForm.controls['armyRankId'].touched) ? 'border-red-500' : 'border-black')"
                  formControlName="armyRankId"
                  *ngIf="(armyRanks$|async)?.data != null"
          >
            <option value="">Звание</option>
            <option *ngFor="let armyRank of (armyRanks$|async)?.data" [value]="armyRank.id">
              {{armyRank.titleRu}}
            </option>
          </select>
          <div class="text-red-500" *ngIf="calculationForm.controls['armyRankId'].invalid && (calculationForm.controls['armyRankId'].dirty || calculationForm.controls['armyRankId'].touched)">
            <div *ngIf="calculationForm.controls['armyRankId'].errors">
              <div *ngIf="calculationForm.controls['armyRankId'].errors.required">
                Выберите Звание
              </div>
            </div>
          </div>

          <select [className]="'comforta my-2 text-gray-400 px-4 py-3 bg-transparent rounded-none border-b-2 w-full '
                + (calculationForm.controls['serviceYearId'].invalid && (calculationForm.controls['serviceYearId'].dirty || calculationForm.controls['serviceYearId'].touched) ? 'border-red-500' : 'border-black')"
                  formControlName="serviceYearId"
                  *ngIf="(serviceYears$|async)?.data != null">
            <option value="">Стаж службы</option>
            <option *ngFor="let serviceYear of (serviceYears$|async)?.data" [value]="serviceYear.id">
              {{serviceYear.titleRu}}
            </option>
          </select>
          <div class="text-red-500" *ngIf="calculationForm.controls['serviceYearId'].invalid && (calculationForm.controls['serviceYearId'].dirty || calculationForm.controls['serviceYearId'].touched)">
            <div *ngIf="calculationForm.controls['serviceYearId'].errors">
              <div *ngIf="calculationForm.controls['serviceYearId'].errors.required">
                Выберите Стаж службы
              </div>
            </div>
          </div>
          <select [className]="'comforta my-2 text-gray-400 px-4 py-3 bg-transparent rounded-none border-b-2 w-full '
                          + (calculationForm.controls['qualificationId'].invalid && (calculationForm.controls['qualificationId'].dirty || calculationForm.controls['qualificationId'].touched) ? 'border-red-500' : 'border-black')"
                  formControlName="qualificationId"
                  *ngIf="(qualifications$|async)?.data != null"
          >
            <option value="">Квалификация</option>
            <option *ngFor="let qualification of (qualifications$|async)?.data" [value]="qualification.id">
              {{qualification.titleRu}}
            </option>
          </select>
          <div class="text-red-500" *ngIf="calculationForm.controls['qualificationId'].invalid && (calculationForm.controls['qualificationId'].dirty || calculationForm.controls['qualificationId'].touched)">
            <div *ngIf="calculationForm.controls['qualificationId'].errors">
              <div *ngIf="calculationForm.controls['qualificationId'].errors.required">
                Выберите Квалификацию
              </div>
            </div>
          </div>
          <select [className]="'comforta my-2 text-gray-400 px-4 py-3 bg-transparent rounded-none border-b-2 w-full '
                          + (calculationForm.controls['areaId'].invalid && (calculationForm.controls['areaId'].dirty || calculationForm.controls['areaId'].touched) ? 'border-red-500' : 'border-black')"
                  formControlName="areaId"
                  *ngIf="(areaSalaries$|async)?.data != null"
          >
            <option value="">Выберите Место службы </option>
            <option *ngFor="let areaSalary of (areaSalaries$|async)?.data" [value]="areaSalary.id">
              {{areaSalary.titleRu}}
            </option>
          </select>
          <div class="text-red-500" *ngIf="calculationForm.controls['areaId'].invalid && (calculationForm.controls['areaId'].dirty || calculationForm.controls['areaId'].touched)">
            <div *ngIf="calculationForm.controls['areaId'].errors">
              <div *ngIf="calculationForm.controls['areaId'].errors.required">
                Выберите Место службы
              </div>
            </div>
          </div>
          <select [className]="'comforta my-2 text-gray-400 px-4 py-3 bg-transparent rounded-none border-b-2 w-full '
                          + (calculationForm.controls['personQuantity'].invalid && (calculationForm.controls['personQuantity'].dirty || calculationForm.controls['personQuantity'].touched) ? 'border-red-500' : 'border-black')"
                  formControlName="personQuantity"
                  *ngIf="(areaSalaries$|async)?.data != null"
          >
            <option value="0">Выберите кол-во членов семьи </option>
            <option value="0">Нет членов семьи </option>
            <option value="1">1 человек </option>
            <option value="2">2 человек </option>
            <option value="3">3 человек </option>
            <option value="4">4 человек </option>
            <option value="5">5 человек </option>
            <option value="6">6 человек </option>
            <option value="7">7 человек </option>
          </select>
          <div class="text-red-500" *ngIf="calculationForm.controls['personQuantity'].invalid && (calculationForm.controls['personQuantity'].dirty || calculationForm.controls['personQuantity'].touched)">
            <div *ngIf="calculationForm.controls['personQuantity'].errors">
              <div *ngIf="calculationForm.controls['personQuantity'].errors.required">
                Выберите Кол-во членов семьи
              </div>
            </div>
          </div>
          <button [disabled]="calculationForm.invalid"  [class]="'inline-block text-white mt-5 text-sm px-8 py-3 rounded ' + (calculationForm.invalid ? 'bg-gray-400' :'bg-red-color hover:bg-red-900')">
            Рассчитать
          </button>
        </form>
      </div>
    </div>
    <div class="col-span-12 flex items-center  md:col-span-4 main-blue-bg py-4 px-6">
      <div class="comforta-bold text-center w-full">
        <p class="text-xl text-white">
          Ваш должностной оклад
        </p>
        <p class="text-xl text-white" *ngIf="(calculationResult$|async)?.data">
          {{(calculationResult$|async)?.data}} KZT
        </p>
      </div>

    </div>

  </div>

</div>

<!--Calculator End-->
