<div class="bg-white mt-14 py-2">
  <div class="container mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-span-12 sm:col-span-6 md:col-span-3 flex items-center justify-center my-4">
        <a target="_blank" href="https://www.gov.kz/memleket/entities/mod?lang=ru"> <img class="max-w-full" src="assets/images/footer-logo1.png"></a>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3 flex items-center justify-center my-4">
        <a target="_blank" href="https://www.gov.kz/memleket/entities/kvv?lang=ru"><img class="max-w-full" src="assets/images/footer-logo2.png"></a>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3 flex items-center justify-center my-4">
        <a target="_blank" href="https://www.gov.kz/memleket/entities/shekaraknb?lang=ru"><img class="max-w-full" src="assets/images/footer-logo3.png"></a>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3 flex items-center justify-center my-4">
        <a target="_blank" href="https://www.gov.kz/memleket/entities/emer?lang=ru"><img class="max-w-full" src="assets/images/footer-logo4.png"></a>
      </div>
    </div>
  </div>
</div>
<div class="main-blue-bg py-8">
  <div class="container mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-span-12 gap-4 md:col-span-4 my-4 text-center md:text-left">
        <a class="tourney-thin text-2xl sm:text-2xl md:text-4xl text-black text-xl2 text-white " routerLink="/">jauynger.gov.kz</a>
        <p class="nav-link text-sm text-white text-center md:text-left" aria-current="page">
          Сервис по приему на воинскую службу по контракту
        </p>
      </div>
      <div class="col-span-12 md:col-span-4 my-4">
        <div class="flex justify-center">
          <ul class="comforta text-white text-center md:text-left">
            <li class="px-6 py-2  w-full ">
              <a class="comforta text-md" routerLink="/">Карьера</a>
            </li>
            <li class="px-6 py-2  w-full ">
              <a class="comforta text-md" routerLink="/vacancy">Вакансии</a>
            </li>
            <li class="px-6 py-2  w-full ">
              <a class="comforta text-md" routerLink="/">Полезная информация</a>
            </li>
            <li class="px-6 py-2  w-full ">
              <a class="comforta text-md" routerLink="/user/create-request">Подать заявку</a>
            </li>
            <li class="px-6 py-2  w-full ">
              <a class="comforta text-md" routerLink="/user/all-request">Мои заявки</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-12 md:col-span-4 my-4">
        <div class="col-span-12 md:col-span-4">
          <a href="https://21tech.kz/" target="_blank" class="montserrat container text-center md:text-left text-md text-white">
            &copy; “21Tech” 2022
          </a><br>
          <a href="mailto:support@21tech.kz " class="montserrat container text-center md:text-left text-md text-white my-4">
            support@21tech.kz
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
